<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MedicinalShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.user.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminLogin</display-name>
    <filter-name>AdminLogin</filter-name>
    <filter-class>com.medicinalshop.filter.AdminLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLogin</filter-name>
    <url-pattern>/Login_MANAGER.jsp</url-pattern>
    <url-pattern>/Login_MANAGER_MANAGE.jsp</url-pattern>
    <url-pattern>/Login_MANAGER_UpdateProduct.jsp</url-pattern>
    <url-pattern>/Login_MANAGER_UpdateUser.jsp</url-pattern>
    <url-pattern>/MANAGER_AddProduct.jsp</url-pattern>
    <url-pattern>/MANAGER_Product.jsp</url-pattern>
    <url-pattern>/MANAGER_SearchByPropid.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.medicinal.servlet.user.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MANGER_SearchUserServlet</display-name>
    <servlet-name>MANGER_SearchUserServlet</servlet-name>
    <servlet-class>com.medicinal.service.MANGER_SearchUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MANGER_SearchUserServlet</servlet-name>
    <url-pattern>/MANGER_SearchUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MANAGER_DelUserServlet</display-name>
    <servlet-name>MANAGER_DelUserServlet</servlet-name>
    <servlet-class>com.medicinal.service.MANAGER_DelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MANAGER_DelUserServlet</servlet-name>
    <url-pattern>/MANAGER_DelUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MANAGER_UpdateUserServlet</display-name>
    <servlet-name>MANAGER_UpdateUserServlet</servlet-name>
    <servlet-class>com.medicinal.service.MANAGER_UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MANAGER_UpdateUserServlet</servlet-name>
    <url-pattern>/MANAGER_UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MANAGER_ClassifyServlet</display-name>
    <servlet-name>MANAGER_ClassifyServlet</servlet-name>
    <servlet-class>com.medicinal.service.MANAGER_ClassifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MANAGER_ClassifyServlet</servlet-name>
    <url-pattern>/MANAGER_ClassifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MANAGER_ProductServlet</display-name>
    <servlet-name>MANAGER_ProductServlet</servlet-name>
    <servlet-class>com.medicinal.service.MANAGER_ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MANAGER_ProductServlet</servlet-name>
    <url-pattern>/MANAGER_ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MANAGER_AddProductServlet</display-name>
    <servlet-name>MANAGER_AddProductServlet</servlet-name>
    <servlet-class>com.medicinal.service.MANAGER_AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MANAGER_AddProductServlet</servlet-name>
    <url-pattern>/MANAGER_AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MANAGER_DelProductServlet</display-name>
    <servlet-name>MANAGER_DelProductServlet</servlet-name>
    <servlet-class>com.medicinal.service.MANAGER_DelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MANAGER_DelProductServlet</servlet-name>
    <url-pattern>/MANAGER_DelProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MANAGER_UpdateProductServlet</display-name>
    <servlet-name>MANAGER_UpdateProductServlet</servlet-name>
    <servlet-class>com.medicinal.service.MANAGER_UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MANAGER_UpdateProductServlet</servlet-name>
    <url-pattern>/MANAGER_UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MANAGER_Logout</display-name>
    <servlet-name>MANAGER_Logout</servlet-name>
    <servlet-class>com.medicinal.service.MANAGER_Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MANAGER_Logout</servlet-name>
    <url-pattern>/MANAGER_Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.medicinal.servlet.user.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchServlet</display-name>
    <servlet-name>ProductSearchServlet</servlet-name>
    <servlet-class>com.medicinal.servlet.user.ProductSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchServlet</servlet-name>
    <url-pattern>/ProductSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MANAGER_SearchUserServlet</display-name>
    <servlet-name>MANAGER_SearchUserServlet</servlet-name>
    <servlet-class>com.medicinal.service.MANAGER_SearchUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MANAGER_SearchUserServlet</servlet-name>
    <url-pattern>/MANAGER_SearchUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProduct</display-name>
    <servlet-name>SearchProduct</servlet-name>
    <servlet-class>com.medicinal.service.SearchProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProduct</servlet-name>
    <url-pattern>/SearchProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchColdCoughServlet</display-name>
    <servlet-name>SearchColdCoughServlet</servlet-name>
    <servlet-class>com.medicinal.servlet.user.SearchColdCoughServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchColdCoughServlet</servlet-name>
    <url-pattern>/SearchColdCoughServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProduct_PID</display-name>
    <servlet-name>SearchProduct_PID</servlet-name>
    <servlet-class>com.medicinal.servlet.user.SearchProduct_PID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProduct_PID</servlet-name>
    <url-pattern>/SearchProduct_PID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductViewServlet</display-name>
    <servlet-name>ProductViewServlet</servlet-name>
    <servlet-class>com.medicinal.servlet.user.ProductViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductViewServlet</servlet-name>
    <url-pattern>/ProductViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PleaseLoginServlet</display-name>
    <servlet-name>PleaseLoginServlet</servlet-name>
    <servlet-class>com.medicinal.servlet.user.PleaseLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PleaseLoginServlet</servlet-name>
    <url-pattern>/PleaseLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.medicinal.servlet.user.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSearchByIDServlet</display-name>
    <servlet-name>UserSearchByIDServlet</servlet-name>
    <servlet-class>com.medicinal.servlet.user.UserSearchByIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchByIDServlet</servlet-name>
    <url-pattern>/UserSearchByIDServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserLoginFilter</display-name>
    <filter-name>UserLoginFilter</filter-name>
    <filter-class>com.medicinalshop.filter.UserLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginFilter</filter-name>
    <url-pattern>/Login_USER.jsp</url-pattern>
    <url-pattern>/User_SearchByPropid.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>USER_PersonalData</display-name>
    <servlet-name>USER_PersonalData</servlet-name>
    <servlet-class>com.medicinal.service.USER_PersonalData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>USER_PersonalData</servlet-name>
    <url-pattern>/USER_PersonalData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCartByUID</display-name>
    <servlet-name>SearchCartByUID</servlet-name>
    <servlet-class>com.medicinal.servlet.cart.SearchCartByUID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCartByUID</servlet-name>
    <url-pattern>/SearchCartByUID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDelCart</display-name>
    <servlet-name>UserDelCart</servlet-name>
    <servlet-class>com.medicinal.servlet.cart.UserDelCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDelCart</servlet-name>
    <url-pattern>/UserDelCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>USER_PersonalDataUpdate</display-name>
    <servlet-name>USER_PersonalDataUpdate</servlet-name>
    <servlet-class>com.medicinal.service.USER_PersonalDataUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>USER_PersonalDataUpdate</servlet-name>
    <url-pattern>/USER_PersonalDataUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddProductCart</display-name>
    <servlet-name>UserAddProductCart</servlet-name>
    <servlet-class>com.medicinal.servlet.cart.UserAddProductCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddProductCart</servlet-name>
    <url-pattern>/UserAddProductCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddOrder</display-name>
    <servlet-name>UserAddOrder</servlet-name>
    <servlet-class>com.medicinal.servlet.order.UserAddOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddOrder</servlet-name>
    <url-pattern>/UserAddOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSearchOrder</display-name>
    <servlet-name>UserSearchOrder</servlet-name>
    <servlet-class>com.medicinal.servlet.order.UserSearchOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchOrder</servlet-name>
    <url-pattern>/UserSearchOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerSearchOrder</display-name>
    <servlet-name>ManagerSearchOrder</servlet-name>
    <servlet-class>com.medicinal.servlet.order.ManagerSearchOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerSearchOrder</servlet-name>
    <url-pattern>/ManagerSearchOrder</url-pattern>
  </servlet-mapping>
</web-app>